@charset "utf-8";
/* bodyタグ。全体に影響を及ぼす */
 /*
 * セレクタ:body
 * 概要  :表示領域全体のタグ
 * 作成者:T.M
 */
body{
	/* 
	フォントを設定する */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0 1% 0;	/* 左右に1%の余白をとる */
	font-size: 90%;	/* 全体的を通常の9割程度のサイズにする */
}

/* クリック時の動作についてのスタイルシート */
 /*
 * セレクタ:*:focus
 * 概要  :全ての要素が対象となる。フォーカスが当たったときのレスポンス。
 * 作成者:T.M
 */
*:focus { 
	outline:none;	/* 表示される青い枠線を消す */
}
	
/* テキストボックスについて */
 /*
 * セレクタ:input
 * 概要  :入力フォームの要素
 * 作成者:T.M
 */
input{
	background: #FFF;		/* 灰色になる場合があるので白くする */
	vertical-align: middle;	/* 高さを親要素の中心に合わせる */
}

/* 全ページのラベルのスタイルシート */
 /*
 * セレクタ:label
 * 概要  :ラベルのタグ
 * 作成者:T.M
 */
label{
	display: inline-block;	/* インラインブロックとして扱う */
	vertical-align: middle;	/* 親要素の中心の高さに合わせる */
}

/* チェックボックス */
 /*
 * セレクタ:input.checkbox
 * 概要  :チェックボックス
 * 作成者:T.M
 */
input.checkbox{
	width: auto!important;	/* 通常のサイズを保つ */
	vertical-align: middle;	/* 中心の高さに合わせる */
}

 /*
 * セレクタ:.clearfix:after
 * 概要  :クラスを適用した要素の中にfloatがあっても、その高さを認識させるためのクラスclearfixで追加される疑似要素。
 * 作成日:2014.07.23
 * 作成者:T.M
 */
.clearfix:after{
    content: "";	/* 場所をとらない形で要素を存在させる */
    clear: both;	/* 回り込み防止 */
    display: block;	/* 必ずブロックとして扱う */
}

/*
 * セレクタ:.page
 * 概要  :各画面の領域
 * 作成者:T.M
 */
.page {
	width: 100%;		/* 幅の基準パーセンテージ */
	height: inherit;	/* containerの高さを継承 */
}

/*
 * セレクタ:.main
 * 概要  :各画面のコンテンツの領域
 * 作成日:2014.06.12
 * 作成者:T.I
 */
.main {
	max-width: 768px;	/* 画面幅の最大値 */
	width: 100%;		/* 幅の基準パーセンテージ */
	height: inherit;	/* containerの高さを継承 */
	margin: 0 auto 0;	/* 画面全体の各マージン */
	max-height: 1024px;	/* 画面の最大高 */
}

/*
 * セレクタ:.figs
 * 概要  :各fig(画面)の領域。ヘッダー下に来るメインのコンテンツ。
 * 作成日:2014.07.15
 * 作成者:T.M
 */
 .figs{
 }
 
/* ユーザーID入力欄 */
/*
 * セレクタ:#user-id
 * 概要  :ログイン画面のユーザID欄
 * 作成者:T.M
 */
#user-id{
	display: block;		/* ブロックとして表示して、改行するようにする。 */
	margin-bottom: 5px;	/* 要素同士間隔を取る。 */
}

/* パスワード入力欄 */
/*
 * セレクタ:#user-password
 * 概要  :ログイン画面のパスワード欄
 * 作成者:T.M
 */
#user-password{
	display: block;		/* ブロックとして表示して、改行するようにする。 */
	margin-bottom: 5px;	/* 要素同士間隔を取る。 */
}

/* ログインボタン */
/*
 * セレクタ:#user-login
 * 概要  :ログイン画面のパスワード欄
 * 作成者:T.M
 */
#user-login{
	display: block;		/* ブロックとして表示して、改行するようにする。 */
}

/*
 * セレクタ:.button
 * 概要  :ボタンの基底クラス
 * 作成日:2014.07.01
 * 作成者:T.M
*/
.button{
	vertical-align: middle;	/* 縦方向の真ん中に置く */
	cursor: pointer;		/* マウスオーバー時のカーソルを指差しにする */
}

/*
 * セレクタ:.main button.ui-button
 * 概要  :画面コンテンツ内のjQuery UIのボタン。
 * 作成者:T.M
*/
.main button.ui-button{
	display: inline;		/* インライン要素として扱う */
}

/*
 * セレクタ:button.ui-button-icon-only
 * 概要  jQuery UIのアイコンのみのボタン。
 * 作成者:T.M
*/
button.ui-button-icon-only{
	vertical-align: middle;			/* 縦方向の真ん中に置く */
	max-width: 32px!important;		/* 最大幅 */
	min-width: 32px!important;		/* 最低幅 */
	max-height: 32px!important;		/* 最大高 */
	min-height: 32px!important;		/* 最低高 */
	/* 以上4つを指定して、完全に32px正方形で固定する */
}

/*
 * セレクタ:button.button.normal-button.ui-button-text-only
 * 概要  :アイコンではないボタン
 * 作成者:T.M
*/
button.button.normal-button.ui-button-text-only{
	width: auto !important;		/* 横幅自動調節 */
	max-width: none;	/* 最大幅なし */
	max-height: 32px;	/* 最大高32px */
	min-height: 32px;	/* 最低高32pxを指定して */
	/* JQuery UIのテキストのボタンは大きめなので小さく */
	font-size: 0.7em!important;	/* 小さめのテキスト */
	letter-spacing: normal;		/* 文字同士の間隔を通常にする。インラインブロック独自の余白対策。 */
}

/*
 * セレクタ:.ui-datepicker
 * 概要  :カレンダーの本体
 * 作成日:2014.07.02
 * 作成者:T.M
*/
.ui-datepicker { 
	/* z-indexを高くして、他の要素に隠れないようにする */
	z-index: 1000 !important; 
}

 /*
 * セレクタ:.ui-autocomplete
 * 概要  :jQuery UIのプルダウンメニュー(オートコンプリート)のリスト
 * 作成日:2014.07.27
 * 作成者:T.M
 */
.ui-autocomplete{
	max-height: 50%;	/* 最大表示領域。JavaScriptで上書きされる */
	overflow-x: hidden;	/* テキストが横に飛び出したら表示しない */
	overflow-y: auto;	/* 表示しきれない項目はスクロール */
}

 /*
 * セレクタ:.custom-combobox
 * 概要  :jQuery UIによるオートコンプリート付きコンボボックス
 * 作成日:2014.07.26
 * 作成者:T.M
 */
.custom-combobox{
	height: 100%;	/* 外枠に高さをあわせる */
}

/* コンボボックス内のテキストボックス */
 /*
 * セレクタ:.custom-combobox input
 * 概要  :コンボボックスの入力欄
 * 作成日:2014.07.26
 * 作成者:T.M
 */
.custom-combobox input{
	background: #FFF;	/* 他のテキストボックスと同じく白にする */
}

/*
 * セレクタ:.margin_top
 * 上部にマージンを設ける
 * 作成日:2014.06.20
 * 作成者:H.U
 */
.margin_top{
	margin-top:1%;	/* 1%の上margin */
}

/*
 * セレクタ:.margin_bottom
 * 下部にマージンを設ける
 * 作成日:2014.06.20
 * 作成者:H.U
 */
.margin_bottom{
		margin-bottom::1%;	/* 1%の下margin */
}

/*
 * セレクタ:.margin_right
 * 右部にマージンを設ける
 * 作成日:2014.06.20
 * 作成者:H.U
 */
.margin_right{
		margin-right:1%;
}

/* 
 * セレクタ:.position_center
 * 概要  :テキストポジションをセンターに設定する
 * 作成日:2014.06.20
 * 作成者:H.U
 */
.position_ceneter{
	text-align:center;	/* テキストを中央に寄せる */
}

/*
 * セレクタ:.right
 * 概要  :右に寄せる
 * 作成日:2014.06.19
 * 作成者:T.M
 */
.right{
	float: right;	/* 右に寄せる */
}

/*
 * セレクタ:.left
 * 概要  :左に寄せる
 * 作成日:2014.06.19
 * 作成者:T.M
 */
.left {
	float: left;	/* 左に寄せる */
}

/*
 * セレクタ:.table
 * 概要  :表。特にグラフとセットになっているもの
 * 作成日:2014.07.07
 * 作成者:T.M
*/
.table{
	
}

 /*
 * セレクタ:.dummy
 * 概要  :レイアウトのためのダミー要素
 * 作成日:2014.07.09
 * 作成者:T.M
 */
.dummy{
	visibility: hidden;	/* 幅だけは取って非表示 */
}

 /*
 * セレクタ:.half_line
 * 概要  :2項目で1行を使う要素
 * 作成日:2014.07.17
 * 作成者:T.M
 */
.half_line{
	 
}


 /*
 * セレクタ:.line
 * 概要  :行の先頭
 * 作成日:2014.07.17
 * 作成者:T.M
 */
.line{
	
}

 /*
 * セレクタ:.a_line
 * 概要  :1項目で行全ての幅を使う行
 * 作成日:2014.07.17
 * 作成者:T.M
 */
.a_line{
}

/*
 * セレクタ:.a_line button.ui-button
 * 概要  :a_lineのボタン
 * 作成者:T.M
 */
.a_line button.ui-button{
	margin-right: 1%;	/* 右に1%のmargin */
}

 /*
 * セレクタ:.line.edit_buttons
 * 概要  :.line内でのボタン群
 * 作成者:T.M
 */
.line.edit_buttons{
	width: 100%;	/* 2段組でない状況をまずは想定して100%の幅 */
}


 /*
 * セレクタ:.last_line
 * 概要  :テキストボックス最終行
 * 作成日:2014.07.18
 * 作成者:T.M
 */
.last_line{
	padding-bottom:	1%;	/* 主にリストの下部と間を取る */
}


/* モーダルダイアログのリンクリストについて */
 /*
 * セレクタ:#link-list
 * 概要  :リンクリストのダイアログ
 * 作成者:T.M
 */
#link-list{
	list-style: none;	/* リストの先頭につく文字を消す */
	padding: 0;			/* ulに最初から入っているpaddingを消す */
}
 /*
 * セレクタ:#link-list li
 * 概要  :リンクリストの項目
 * 作成者:T.M
 */
#link-list li{
	line-height: 30px;	/* 文字の高さ */
}
 /*
 * セレクタ:#link-list li span:hover
 * 概要  :リンクリストの項目にカーソルを重ねたときの変化
 * 作成者:T.M
 */
#link-list li span:hover{
	color: #FFF;	/* 色 */
	background: #999;	/* 背景色 */
}
 /*
 * セレクタ:#link-list li span
 * 概要  :リンクリストの項目の文字の部分
 * 作成者:T.M
 */
#link-list li span{
	padding: 1px 5px;	/* 少々枠の範囲を広げる */
	border-radius: 5px;	/* 角に丸みをつける */
 }
/* モーダルダイアログのリンクリストの記述はここまで */

 /*
 * セレクタ:#header
 * 概要  :各画面共通のヘッダー(タイトル)部分
 * 作成者:T.M
 */
#header{
	display: block;	/* ブロックとして扱う */
	margin: 1% 0;	/* 上下1%のmargin */
	text-align: right;	/* 中のテキストを右に寄せる */
	letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */;
}
 /*
 * セレクタ:#header > div
 * 概要  :ヘッダー内の各項目
 * 作成者:T.M
 */
#header > div{
	display: inline-block;	/* インラインブロックとして扱う */
	vertical-align: middle;	/* 中心に揃える */
}
 /*
 * セレクタ:#header-title
 * 概要  :ヘッダー内のタイトルの領域
 * 作成者:T.M
 */
#header-title{
	width: 72%;				/* 幅 */
	text-align:left;		/* 中の文章を左に寄せる */
	letter-spacing: normal; /* 文字間を詰めて隙間を削除する */
}

 /*
 * セレクタ:#header h1
 * 概要  :タイトルの文字部分
 * 作成者:T.M
 */
#header h1{
	margin: 0;			/* 余白をとらない */
	display: inline;	/* インライン要素として扱う */
	text-align: left;	/* 文字を左寄せにする */
	color: #888;		/* 文字を薄めの灰色にする */
}
 /*
 * セレクタ:#header-buttons
 * 概要  :ヘッダー内のボタン領域
 * 作成者:T.M
 */
#header-buttons{
	width: 28%;			/* 幅 */
	min-height: 30px;	/* 最小高 */
}
 /*
 * セレクタ:#header-buttons .close-button
 * 概要  :ヘッダー内のクローズボタン
 * 作成者:T.M
 */
#header-buttons .close-button{
	margin-right: 0;	/* 右marginなし */
	float: right;		/* 右に寄せる */
}

 /*
 * セレクタ:#header-buttons .setting-button
 * 概要  :ヘッダー内の設定(リンクリストをコールする)ボタン
 * 作成者:T.M
 */
#header-buttons .setting-button{
	float: right;		/* 右寄せ */
	margin-right: 3.5%;	/* 右のボタンとの間に余白 */
}

/*
 * セレクタ:.top_page_button
 * 概要  :Fig.1(トップページ)のボタン
 * 作成日:2014.07.15
 * 作成者:T.M
 * 
 */
.top_page_button{
	
}

 /*
 * セレクタ:button.button.ui-button.top_page_button, div.top_page_button,div.top_page_button
 * 概要  :トップページ(fig1)のボタン
 * 作成者:T.M
 */
button.button.ui-button.top_page_button, div.top_page_button,div.top_page_button{
	width: 40%;					/* 幅 */
	height: 100%;				/* 高さ100% */
	zoom: 1;					/* for IE */
	cursor: pointer;			/* カーソルを指差しにする */
	max-height: 100%!important;	/* 高さを変えない */
}

 /*
 * セレクタ:div.top_page_button button
 * 概要  :トップページの小さなボタン
 * 作成者:T.M
 */
div.top_page_button button{
	margin: 0!important;	/* marginをなくす */
	width: 48%!important;	/* 幅を指定 */
	font-size: 0.9em;		/* フォントを小さめに */
}

/* 段組みテキストボックス関連 */

/*
 * セレクタ:.parallel-text
 * 概要  :二段組テキストボックスの領域
 * 作成日:2014.07.15
 * 作成者:T.M
 */
.parallel-text{
	padding: 0.4% 0;		/* 上下に0.4%のpadding */
	letter-spacing: -.35em;	/* 文字同士の間隔を詰めてインラインブロック独自の余白を消す。 */
}

/*
 * セレクタ:.parallel-text input
 * 概要  :二段組テキストボックスのテキストボックス部分
 * 作成者:T.M
 */
.parallel-text input{
	height: 100%;	/* テキストボックスの高さを100%に指定 */
}

/*
 * セレクタ:.parallel-text.right
 * 概要  :2段組みテキストボックス領域の右に置く側
 * 作成日:2014.06.12
 * 作成者:T.M
 * 修正日:2014.06.13
 * 修正者:H.U
 * コメント内容の修正
 */
.parallel-text.right{
	width: 50%;		/* 幅を50%に指定 */
	float: right;	/* 右に寄せる */
}

/*
 * セレクタ:.parallel-text.left
 * 概要  :2段組みテキストボックス領域の左に置く側
 * 作成日:2014.06.12
 * 作成者:T.M
 * 修正日:2014.06.13
 * 修正者:H.U
 * コメント内容の修正
 */
.parallel-text.left{
	width: 50%;		/* 幅を50%に指定 */
	float: left;	/* 左に寄せる */
}

/*
 * セレクタ:.parallel-text input.textbox_S 
 * 概要  :2段組みテキストボックス領域の短いテキストボックス
 * 作成者:T.M
 */
.parallel-text input.textbox_S {
	width: 55%;		/* 幅を55%に指定 */
}

/*
 * セレクタ:.parallel-text.two-tb input.textbox_S 
 * 概要  :2個入りの2段組みテキストボックス領域のテキストボックス
 * 作成者:T.M
 */
.parallel-text.two-tb input.textbox_S {
	width: 25%!important;		/* 幅を25%に指定 */
}

/*
 * セレクタ:.parallel-text label
 * 概要  :二段組テキストボックスのラベル部分
 * 作成者:T.M
 */
.parallel-text label{
	width: 27%;				/* 幅を27%取る */
	min-width: 40px;		/* 最低幅を指定する */
	max-height: 32px;		/* 最大の高さを指定 */
	letter-spacing: normal;	/* 文字同士の間隔を通常にする。インラインブロック独自の余白対策。 */
}

/*
 * セレクタ:.parallel-text button.ui-button
 * 概要  :二段組テキストボックスのボタン
 * 作成者:T.M
 */
.parallel-text button.ui-button{
	margin-left: 7.5px;		/* 左margin */
	margin-right: 0;		/* 右marginをなくす */
	letter-spacing: normal;	/* 文字同士の間隔を通常にする。インラインブロック独自の余白対策。 */
}

/*
 * セレクタ:.parallel-text button.ui-datepicker-trigger.ui-button
 * 概要  :二段組テキストボックスのカレンダーボタン
 * 作成者:T.M
 */
.parallel-text button.ui-datepicker-trigger.ui-button{
	margin-left: 7.5px;	/* 左margin */
}

/*
 * セレクタ:.parallel-text .custom-combobox input
 * 概要  :二段組テキストボックスのコンボボックスのテキストボックス
 * 作成者:T.M
 */
.parallel-text .custom-combobox input{
	width: 55.0%;	/* 幅 */
	padding: 0 1%;	/* 左右にpadding */
}

/*
 * セレクタ:span.two-tb #filter-list-before
 * 概要  :1行2ブロック2テキストボックスの親のタグ
 * 作成者:T.M
 */
span.two-tb #filter-list-before{
	display: inline-block;	/* インラインブロックとして扱う */
}

/*
 * セレクタ:.two-tb .textbox_S
 * 概要  :期間絞り込みのテキストボックス
 * 作成者:T.M
 */
.two-tb .textbox_S{
	/* 最低限の幅と最大の幅を指定して幅を固定する。 */
	min-width: 62px!important;
	max-width: 62px!important;
	max-height: 32px;	/* 最大高 */
}
/*
 * セレクタ:.two-tb label.from-to
 * 概要  :期間絞り込みの〜の文字
 * 作成者:T.M
 */
.two-tb label.from-to{
	/* 幅を自動調整 */
	width: auto!important;
	min-width: 10px!important;	/* 最低幅を指定する。 */
	font-size: 12px;			/* サイズを微調整する。 */
	margin: 0 0 0 5px;			/* 左にmarginを挿入する。 */
}

/* 各ページごとのparallel-textのラベル幅設定 */
/* 最大2文字 */
/*
 * セレクタ:.label_max2 .parallel-text label:first-child
 * 概要  :最大2文字のparallel-textのラベル
 * 作成者:T.M
 */
.label_max2 .parallel-text label:first-child{
	min-width: 31px!important;	/* 固定幅指定 */
	max-width: 31px!important;	/* 固定幅指定 */
}
/* 最大5文字 */
/*
 * セレクタ:.label_max5 .parallel-text label:first-child
 * 概要  :最大5文字のparallel-textのラベル
 * 作成者:T.M
 */
.label_max5 .parallel-text label:first-child{
	min-width: 72px!important;	/* 固定幅指定 */
	max-width: 72px!important;	/* 固定幅指定 */
}
/* 最大6文字 */
/*
 * セレクタ:.label_max6 .parallel-text label:first-child
 * 概要  :最大6文字のparallel-textのラベル
 * 作成者:T.M
 */
.label_max6 .parallel-text label:first-child{
	min-width: 86px;	/* 固定幅指定 */
	max-width: 86px;	/* 固定幅指定 */
}

/*
 * セレクタ:#fig7-1 .parallel-text.right
 * 概要  :過去在庫のテキストボックス領域
 * 作成者:T.M
 */
#fig7-1 .parallel-text.right{
	text-align:right;	/* 右に寄せる */
}

/*
 * セレクタ:#fig7-1 .parallel-text.right
 * 概要  :過去在庫のテキストボックス領域のラベル
 * 作成者:T.M
 */
#fig7-1 .parallel-text.right label:first-child{
	margin-right: 2px;	/* 右margin */
}

/*
 * セレクタ:#fig9 #detail .parallel-text label:first-child
 * 概要  :ユーザー詳細設定タブのテキストボックス領域のラベル
 * 作成者:T.M
 */
#fig9 #detail .parallel-text label:first-child{
	width: 40px;	/* 固定幅指定 */
	margin-right: 5px;  /* ラベルとプルダウンメニューとの間に適切な間隔を取る。 */
}

/*
 * セレクタ:#fig13 .parallel-text label:first-child
 * 概要  :入出金管理画面のテキストボックス領域のラベル
 * 作成者:T.M
 */
#fig13 .parallel-text label:first-child{
	width: 40px;	/* 固定幅指定 */
}

/* fig13-2 */
/*
 * セレクタ:#fig13-2 .parallel-text label:first-child
 * 概要  :出金画面のテキストボックス領域のラベル
 * 作成者:T.M
 */
#fig13-2 .parallel-text label:first-child{
	width: 75px;	/* 固定幅指定 */
}

/*
 * セレクタ:#fig13-3 .parallel-text label:first-child
 * 概要  :入金管理画面のテキストボックス領域のラベル
 * 作成者:T.M
 */
#fig13-3 .parallel-text label:first-child{
	width: 75px;	/* 固定幅指定 */
}


/* ここまで段組みテキストボックス関連 */

/* PDF出力ボタン関連 */

/*
 * セレクタ:span.two-str-button button
 * 概要  :PDF出力ボタンの1個1個
 * 作成者:T.M
 */
span.two-str-button button{
	float: none!important;	/* 寄せない */
	margin-left: 2px;		/* 左に最低限の余白 */ /* 文字間を詰めて隙間を削除する */;
}

/*
 * セレクタ:span.two-str-button
 * 概要  :PDF出力ボタンの枠となるタグ
 * 作成者:T.M
 */
span.two-str-button{
	display: inline-block;	/* インラインブロック扱い */
	float: right;			/* 右寄せ */
	letter-spacing: -.33em;/* 文字間を詰めて隙間を削除する */
}

/*
 * セレクタ:.has-two-str-button .two-str-button:first-child button:last-child
 * 概要  :PDF出力ボタンの右側
 * 作成者:T.M
 */
.has-two-str-button .two-str-button:first-child button:last-child{
	margin-right: 0px; /* 右marginをなくす */
}

/* ここまでPDF出力ボタン関連 */

/*
 * セレクタ:.before_list_line
 * 概要  :リスト直前の行のdivタグ
 * 作成日:2014.06.23
 * 作成者:T.M
 * 更新日:2014.06.25
 * 更新者:T.M
 * 内容  :下marginの追加
 */
 .before_list_line{
	width: 100%;			/* 1行分全ての幅を取る */
	clear: both;			/* floatによる回り込みを防止 */
	min-height: 16.0746px;	/* 最小高 */
}

/*
 * セレクタ:.edit_buttons
 * 概要  :追加・編集・削除等のボタンのセット
 * 作成日:2014.06.17
 * 作成者:T.M
 */
.edit_buttons{
 /* 文字間を詰めて隙間を削除する */;
}

/*
 * セレクタ:.edit_buttons button.button
 * 概要  :.edit_buttons内のボタン
 * 作成者:T.M
 */
.edit_buttons button.button{
	float: left;	/* 左に寄せる */
}

/*
 * セレクタ:.edit_buttons button.button.ui-button-icon-only
 * 概要  :.edit_buttons内のアイコンボタン
 * 作成者:T.M
 */
.edit_buttons button.button.ui-button-icon-only{
	margin-right: 3px;	/* 右に少しmargin  */
}

/* fig1独自 */
/*
 * セレクタ:.fig1_buttons 
 * 概要  :fig1の左右のボタンを囲むタグのクラス
 * 作成日:2014.06.19
 * 作成者:T.M
 */
.fig1_buttons{
	clear: both;	/* 他の要素と横並べにならないようにする */
	height: 13%;	/* 高さを13%に指定 */
}
/*
 * セレクタ:#fig1 button.top_page_button:active
 * 概要  :fig1のボタンが押されたときの変化
 * 作成日:2014.06.26
 * 作成者:T.M
 */
#fig1 button.top_page_button:active{
	top: 5px;	/* 下に5pxずらしてボタンを押したような動きを見せる */
}

/*
 * セレクタ:.fig1_buttons.first
 * 概要  :トップページのボタンの1行目
 * 作成日:2014.07.15
 * 作成者:T.M
 */
.fig1_buttons.first{
	height: 25%;	/* 高さを25%に指定 */
}

/*
 * セレクタ:.fig1_buttons .right.top_page_button
 * 概要  :トップページのボタンの右側
 * 作成者:T.M
 */
.fig1_buttons .right.top_page_button{
	/* 上、右、下、左の順にmarginを設定。左右はボタンの幅と合わせて合計100%にする */
	margin: 0 8% 1% 2%;
}

/*
 * セレクタ:.fig1_buttons button.left.top_page_button
 * 概要  :トップページのボタンの左側
 * 作成者:T.M
 */
.fig1_buttons button.left.top_page_button{
	margin: 0 2% 1% 8%; /* 右のボタンの設定と同様。左右のmarginを入れ替える */
}

/*
 * セレクタ:#fig1 h1
 * 概要  :トップページのタイトル文字
 * 作成者:T.M
 */
#fig1 h1{
	color: #888;		/* 文字を薄めの灰色にする */
	text-align: center; /* 中央に寄せる */
}

/*
 * セレクタ:div#fig1 div.half_buttons button.right
 * 概要  :トップページの小さなボタンの右側
 * 作成者:T.M
 */
div#fig1 div.half_buttons button.right{
	margin-left: 2.5%!important;	/* 左に2.5%のmargin */
}

/*
 * セレクタ:div#fig1 div.half_buttons button
 * 概要  :トップページの小さなボタン
 * 作成者:T.M
 */
div#fig1 div.half_buttons button{
	font-size: 0.75em;			/* フォントサイズを小さく */
	float: left;				/* 左寄せ */
	width: 48.5%!important;		/* 元々の値より0.5%大きく */	
}

/* ここまでfig1独自 */


/* fi7独自 */

/*
 * セレクタ:#fig7-0 div.parallel-text
 * 概要  :在庫一覧タブのテキストボックス領域
 * 作成者:T.M
 */
#fig7-0 div.parallel-text{
	width: 36%!important;	/* 幅を36%に固定する */
}

/*
 * セレクタ:#fig7-0 div.parallel-text input
 * 概要  :在庫一覧タブのテキストボックス領域のテキストボックス
 * 作成者:T.M
 */
#fig7-0 div.parallel-text input{
	width: 32%!important;	/* 幅を32%に固定する */
}

/*
 * セレクタ:#fig7-0 input:text
 * 概要  :在庫一覧タブのテキストボックス全体
 * 作成者:T.M
 */
#fig7-0 input:text{
	width: 25%!important;	/* 幅を25%に固定する */
}

/*
 * セレクタ:#fig7-0 .line.edit_buttons
 * 概要  :在庫一覧タブのボタン領域
 * 作成者:T.M
 */
#fig7-0 .line.edit_buttons{
	width: 100%!important;	/* 幅を100%に固定する */
}

/*
 * セレクタ:#fig7-0 .half_line.parallel-text.variable-height.right
 * 概要  :在庫一覧タブの並んだ複数のテキストボックス領域の右側
 * 作成者:T.M
 */
#fig7-0 .half_line.parallel-text.variable-height.right{
	float:left;	/* 左に詰める */
}

/* ここまでfig7独自 */

/* jqGrid関連 */

/* セレクタ:.inner-list-title
 * 概要  :リストのタイトル領域の記述
 * 作成日:2014.06.25
 * 作成者:T.M
*/
.inner-list-title{
	float: right;		/* 右に寄せる */
	margin-right: 5%;	/* 右にmarginを挿入し開閉ボタンと重ならないようにする */
	width: 50%;			/* 幅をタイトル枠の横幅の20%に設定 */
	text-align: right;	/* 中の要素を右に詰める */
}

/* セレクタ:.inner-list-title label
 * 概要  :リストのタイトル領域のラベル
 * 作成者:T.M
*/
.inner-list-title label{
	width: 25%;		/* 幅を35%に設定。 */
}
/* セレクタ:.inner-list-title .textbox_M
 * 概要  :リストのタイトル領域のテキストボックス
 * 作成者:T.M
*/
.inner-list-title .textbox_M{
	width: 40%;			/* 幅を60%に設定。多少余裕がないと回り込む */
	height: inherit;	/* 親要素の高さを受け継ぐ */
}

/* 
 * セレクタ:.list
 * 概要  :jQGridのリストを表示するタグ
 * 作成日:2014.06.12
 * 作成者:T.M
 */
.list{
	
}

/*
 * セレクタ:.wrap-list
 * 概要  :リストを囲む
 * 作成日:2014.06.30
 * 作成者:T.M
*/
.wrap-list{
	clear: both; 		/* 回り込むのを防止する */
	padding-top: 5px;	/* リストの上に余白を挿入 */
	width: 100%;		/* 領域いっぱいに幅を取る */
}

/*
 * セレクタ:a#cData
 * 概要  :jqGridダイアログのキャンセルボタン
 * 作成者:T.M
*/
a#cData{
	display: none;	/* 不要につき隠す */
}

/*
 * セレクタ:.FormGrid select
 * 概要  :jqGridダイアログのプルダウンメニュー
 * 作成者:T.M
*/
.FormGrid select{
	width: 195px!important;	/* 幅を固定する */
}

/* ここまでjqGrid関連 */

/* タブ関連 */

/*
 * セレクタ:.panel-container .line.edit_buttons
 * 概要  :タブ内のリスト編集ボタン領域
 * 作成者:T.M
*/
.panel-container .line.edit_buttons{
	width: 98%;	/* 幅をpaddingを加味して98%にする */
	/*margin-bottom: 1%;*/	/* 1%の下margin */
}

/*
 * セレクタ:.panel-container .half_line.edit_buttons
 * 概要  :タブ内の行の半分の幅を取るリスト編集ボタン領域
 * 作成者:T.M
*/
.panel-container .half_line.edit_buttons {
	width: 50%;			/* 幅をタブの半分に取る */
	float: left;		/* 左寄せ */
	margin-bottom: 0;	/* 下marginをなくす */
}

/* ここまでタブ関連 */

/*
 * セレクタ:hr.content-border
 * 概要  :コンテンツ区切りの境界線
 * 作成者:T.M
*/
hr.content-border{
	/* 幅を100%にして横切る */
	width: 100%;
}

/*
 * セレクタ:hr.content-border.invisible
 * 概要  :不可視の境界線
 * 作成者:T.M
*/
hr.content-border.invisible{
	/* 見えなくする */
	visibility: hidden;
}

/*
 * セレクタ:#devide_quantity
 * 概要  :ノード分割ダイアログの分割個数入力テキストボックス
 * 作成者:T.M
*/
#devide_quantity{
	width: 50px;	/* 最低限の幅を取る。 */
}



/*
 * セレクタ:#detail .line:first-child
 * 概要  :詳細タブの編集ボタン群
 * 作成者:T.M
*/
#detail .line:first-child {
	padding: 0.4% 0.5% 1%;	/* 上下左右に適切な間隔を取る。 */
}
/*

 * セレクタ:#detail .line:nth-child(2)
 * 概要  :詳細タブの通知設定のタイトル
 * 作成者:T.M
*/
#detail .line:nth-child(2) {
	padding: 0.5% 0 1%;	/* 上下左右に適切な間隔を取る。 */
}

/*
 * セレクタ:#detail .line:first-child button
 * 概要  :詳細タブの編集ボタン
 * 作成者:T.M
*/
#detail .line:first-child button{
	margin-right: 3px;	/* ボタン同士適切な間隔を取る。。 */
}

/*
 * セレクタ:#detail .parallel-text select
 * 概要  :詳細タブのプルダウンメニュー
 * 作成者:T.M
*/
#detail .parallel-text select{
	margin-right: 5px;	/* 「日」の文字と少し離す。 */
}

/*
 * セレクタ:.filter-list-before
 * 概要  :期間絞込テキストボックスの終了日側
 * 作成者:T.M
*/
.filter-list-before{
	margin-left:5px;	/* 〜の文字との間に間隔を取る。 */
}

/*
 * セレクタ:#fig7-0 .on-search
 * 概要  :在庫一覧タブの検索ボタン
 * 作成者:T.M
*/
#fig7-0 .on-search {
	float: none;	/* floatを解除してタグの並び通りに配置する。 */
}

/*
 * セレクタ:#fig8-3 .from-to,#fig8-4 .from-to
 * 概要  :統計画面のリストの期間絞込テキストボックスの「〜」の文字
 * 作成者:T.M
*/
#fig8-3 .from-to,#fig8-4 .from-to{
	margin-left: 0px;	/* 幅に余裕がないため、marginをなくす */
}

/*
 * セレクタ:#fig8-3 .filter-list-before, #fig8-4 .filter-list-before
 * 概要  :統計画面のリストの期間絞込テキストボックスの終了日側
 * 作成者:T.M
*/
#fig8-3 .filter-list-before, #fig8-4 .filter-list-before{
	margin-left:0px;	/* 幅に余裕がないため、marginをなくす */
}
