@charset "utf-8";

/* EasyTabs公式サンプルCSS */
	#tab-container ul { margin: 0; padding: 0; }
	#tab-container ul li { display: inline-block; background: #ccc; border: solid 1px; border-bottom: none; }
	#tab-container ul li a { display: block; padding: 5px; outline: none; color: #000;}
	#tab-container ul li a:hover { text-decoration: underline; }
	#tab-container ul li.active { background: #fff; padding-top: 6px; position: relative; top: 1px; }
	#tab-container ul li a.active { font-weight: bold; }
	#tab-container .panel-container { border: solid 1px; padding: 0px;}
/* ここまで公式サンプルCSS */

/*
 * クラス:#tab-container
 * 概要  :タブ全体を包むタグ
 * 作成者:T.M
*/
#tab-container{
	width: 100%;		/* 幅を外枠一杯に取る */
	margin: 0 auto 0;	/* 中央寄せにする */
	padding: 0 0;		/* 余分なpaddingをなくす */
}
/*
 * クラス:.panel-container
 * 概要  :タブのパネル部分
 * 作成日:2014.07.04
 * 作成者:T.M
*/
.panel-container{
	width: 100%;		/* 幅 */
	padding: 20px;		/* 枠の内側に余白 */
	background: #FFF;	/* 背景色を白にする */
	box-sizing: border-box;	/* 大きさの計算にborderを含める */
}

/*
 * クラス:.panel-container > *
 * 概要  :タブのパネルの中の各項目(画面)
 * 作成者:T.M
*/
.panel-container > *{
	padding: 1% 0.5%;	/* 全方向に余白を付ける */
	margin: 0 auto 0;	/* 中央に寄せる */
}

/*
 * クラス:.#tab-container ul li 
 * 概要  :タブのメニューボタン(インデックス)
 * 作成者:T.M
*/
#tab-container ul li {
	border-top-left-radius: 5px 5px;/* 左上角を丸くする */
	border-top-right-radius: 5px 5px;/* 右上角を丸くする */
}
/*
 * クラス:.#tab-container ul li a
 * 概要  :タブのメニューボタンのテキスト部分
 * 作成者:T.M
*/
#tab-container ul li a{
	text-decoration: none;			/* 下線を消す */
}
