@charset "utf-8";
/* -----------------------------------------------------------
 reset
----------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}caption{text-align:left;}q:before,q:after{content:'';}object,embed{vertical-align:top;}hr,legend{display:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}img,abbr,acronym,fieldset{border:0;}li{list-style-type:none;}a{color:#333333;}a:hover{text-decoration:underline;}
/* -----------------------------------------------------------
 layout
----------------------------------------------------------- */
body{
/* mod T.M 2014.07.03 */
/* background: url(../images/bg.jpg) repeat-y center top fixed; */
text-align: center;
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body a{
cursor:pointer;
}
body a img:hover{
opacity:0.8;
}
h1{
margin: 0 auto 30px;
}
#table{
	margin: 0 auto;
	width: 600px;
	padding: 0;
	margin: auto;
	font-size: 12px;
}
#table table{
width:100%;
border:1px solid #555;
border-collapse: collapse;
border-spacing: 0;
margin:0 auto 30px;
background:#E8DEC1;
}
#table table th{
border:#241200 solid 1px;
background: #462517;
color:#fff;
padding:4px;
text-align: center;
}
#table table td{
border:#462517 solid 1px;
padding:8px;
}

/*----------------------------------------------------
ccchart.js
--------------------------------------------------*/
ul{
/* mod T.M 2014.07.03 */
	margin-bottom:0px;
}
.-ccchart{
	width: 100%;
	/* mod 2014.07.04 T.M */
	max-width: 560px;
	margin: 0 auto 0;	/*中央寄せ*/
	/* padding:0 20px; */
}
