@charset "utf-8";
/* bodyタグ。全体に影響を及ぼす */
/*
 * セレクタ:body
 * 概要  :表示領域全体のタグ
 * 作成日	：2015.05.06
　* 作成者	：T.Yamamoto
 */
body{
	/* フォントの設定をする */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 1% 0;		/* 余白を上下に1%の幅でとる */
	font-size: 90%;		/* 全体的を通常の9割程度のサイズにする */
	color: #888;		/* 色を少し薄めにする */
}

/*
 * セレクタ:.clearfix:after
 * 概要  :子要素にfloatがあったときに親要素の高さを認識させるためのレイアウト
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.clearfix:after {
	content: " ";		/* 場所をとらない形で要素を存在させる */
	display: block;		/* 必ずブロックとして扱う */
	clear: both;		/* 回り込み防止する */
	height: 0;			/* 後に存在する要素の高さを0にする */
	visibility: hidden;	/* 表示しない */
}

/*
 * セレクタ:a
 * 概要  :リンク要素の領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
a {
	text-decoration: none;		/* 下線を消す */
}

/* クリック時の動作についてのスタイルシート */
/*
 * セレクタ:*:focus
 * 概要  :全ての要素が対象となる。フォーカスが当たったときのレスポンス。
 * 作成者:T.Masuda
 */
*:focus { 
	outline:none;	/* 表示される青い枠線を消す */
}

/* テキストボックスについて */
/*
 * セレクタ:input
 * 概要  :入力フォームの要素
 * 作成者:T.Masuda
 */
input{
	background: #FFF;		/* 灰色になる場合があるので白くする */
	vertical-align: middle;	/* 高さを親要素の中心に合わせる */
	height :32px;	/* コンテンツの高さ */
}

/*
 * セレクタ:.main
 * 概要  :各画面のコンテンツの領域
 * 作成日:2014.06.12
 * 作成者:T.Ishii
 */
.main {
	max-width: 788px;	/* 画面幅の最大値 */
	width: 100%;		/* 幅の基準パーセンテージ */
	height: inherit;	/* containerの高さを継承 */
	margin: 0 auto 0;	/* 画面全体の各マージン */
	max-height: 1024px;	/* 画面の最大高 */
}

/*
 * セレクタ:.grid1
 * 概要  :グリッド1つ分のレイアウト
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.grid1 {
	width	:32px;	/* 1グリッドの幅。 */
	height :31px;	/* コンテンツの高さ */
}

/*
 * セレクタ:.grid2
 * 概要  :グリッド2つ分のレイアウト
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.grid2 {
	width	:64px;	/* 2グリッドの幅。 */
	height :31px;	/* コンテンツの高さ */
}

/*
 * セレクタ:.grid10
 * 概要  :グリッド3個分のレイアウト
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.grid3{
	width	:96px; /* 3グリッドの幅。 */
	height :31px;	/* コンテンツの高さ */
}

/*
 * セレクタ:.grid9
 * 概要  :グリッド9個分のレイアウト
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.grid9{
	width	:288px; /* 9グリッドの幅。 */
	height :31px;	/* コンテンツの高さ */
}

/*
 * セレクタ:.grid10
 * 概要  :グリッド10個分のレイアウト
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.grid10{
	width	:325px; /* 10グリッドの幅。 */
	height :31px;	/* コンテンツの高さ */
}

/*
 * セレクタ:ul
 * 概要  :箇条書きを表すulタグのスタイル
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
ul {
	margin: 0;						/* 余白を0にする */
	padding: 0;						/* 要素の広がりを0にする */
}

/*
 * セレクタ:ul li
 * 概要  :箇条書きの個々の領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
ul li {
	list-style: none;				/* 黒丸をつけない */
}

/*
 * セレクタ:button
 * 概要  :1文字のボタン
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
button {
	height:28px;		/* ボタンの高さを28pxにする */
	padding: 4px;		/* 要素の幅を4px広げる */
	color: #555;		/* 色を少し薄くする */
}

/*
 * セレクタ:button:hover
 * 概要  :ボタンにマウスオーバー時のレイアウト
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
button:hover {
	cursor: pointer;	/* カーソルをリンクのポインターにする */
	opacity: 0.4; 		/* 要素の透過度を40%にする */
}

/*
 * セレクタ:.buttonImage
 * 概要  :画像ボタンにマウスオーバーしたときのスタイル
 * 作成日:2015.05.08
 * 作成者:T.Yamamoto
 */
.buttonImage:hover {
	opacity: 0.65;	/* 要素の透過度を65%にする */
}

/*
 * セレクタ:#fig2
 * 概要  :ヘッダーより下のコンテンツ全体の外枠
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.mainContent {
	background: #eee;		/* 背景をグレーにする */
	clear: both;			/* 回り込みを解除する */
	padding: 10px;			/* 要素の幅を10px広げる */
}

/*
 * セレクタ:.header
 * 概要  :ページのヘッダー領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.header {
	margin: 1% 0;			/* 余白を上下に1%とる */
}

/*
 * セレクタ:.headerTitle
 * 概要  :ページのタイトルを囲む領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.headerTitle {
	float: left;			/* 左側に回り込みする */
	width: 90%;				/* 幅を80%にする */
	text-align: center;		/* 中央揃えにする */
}

/*
 * セレクタ:header .pageTitle
 * 概要  :ページのタイトル
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.header .pageTitle {
	margin: 0;			/* 余白を0にしてタグデフォルトの余白をとらせない */
}

/*
 * セレクタ:.closeButton
 * 概要  :閉じるボタン
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.closeButton {
	float: right;		/* 右側に回り込みする */
	margin-top: 6px;	/* 上から余白をとる */
}

/*
 * セレクタ:.tabContent
 * 概要  :タブの中のコンテンツ全体の外枠
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.tabContent {
	background: #fff;		/* 背景を白にする */
	padding: 10px;			/* 要素の幅を10px広げる */
	border: 1px solid #999;	/* 少し灰色目の黒い線で要素を囲む */
}

/*
 * セレクタ:.tabLabel
 * 概要  :タブのラベル領域
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.tabLabel {
	cursor: pointer;				/* マウスカーソルを指にする */
}

/*
 * セレクタ:.tablist li
 * 概要  :それぞれのタブ領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.tablist li {
	cursor: pointer;				/* マウスカーソルを指にする */
	display: inline-block;			/* ブロック要素にしてクリックしやすくする */
	padding: 5px;					/* 5px要素の幅を広げる */
	color: #444;					/* 文字色を少しグレーがかかった黒にする */
	background: #eee;				/* 背景をグレーにする */
	border: 1px solid #999;			/* 濃い目の線を引く */
	border-bottom:none;				/* 底のボーダをなくす */
	border-top-left-radius: 5px;	/* 左上を角丸にする */
	border-top-right-radius: 5px;	/* 右上を角丸にする */
	height:22px;					/* 高さを22pxにする */
}

/*
 * セレクタ:.tablist li:hover
 * 概要  :個々のタブにマウスオーバーした時の処理
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.tabArea .tablist li:hover{
	color: #999;					/* 文字色をグレーにする */
}

/*
 * セレクタ:.tabRadio
 * 概要  :タブのラジオボタンのレイアウト
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.tabRadio {
	display: none;					/* ラジオボタンを消して見た目をタブにする */
}

/*
 * セレクタ:.tabRadio:not(:checked) + .tabContent
 * 概要  :選択されていないタブのコンテンツについてのスタイル
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.tabRadio:not(:checked) + .tabContent {
	display: none;					/* 選択されていないタブのコンテンツは表示しないようにする */
}

/*
 * セレクタ:.tablist .firstTab
 * 概要  :初期表示のタブのスタイル
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.tablist .firstTab {
	background: #fff;				/* タブの背景を白色にする */
}


/*
 * セレクタ:.searcharea
 * 概要  :検索機能領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.searcharea {
	float:left;				/* 左側に回り込む */
}

/*
 * セレクタ:.periodarea, .choice
 * 概要  :期間領域と受注種別選択領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.periodarea, .choice {
	margin-left: 10px;			/* 左から10pxの余白をとる */
	float: left;				/* 左側に回り込む */
}

/*
 * セレクタ:.choice .selectbox
 * 概要  :受注種別のセレクトボックス領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.choice .selectbox {
	height: 30px;				/* 高さを30pxに設定する */
}

/*
 * セレクタ:.buttonList
 * 概要  :ボタン群全体の領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.buttonList {
	padding-top: 10px;		/* 上から10px余白をとる */
	clear: both;			/* 回り込みを解除する */
}

/*
 * セレクタ:.editButtons
 * 概要  :編集ボタン領域
 * 作成日:2015.05.06
 * 作成者:T.Yamamoto
 */
.editButtons {
	width: 75px;			/* 2グリッド分＋余白の幅 */
	float: left;			/* 左側に回り込みする */
}

/*
 * セレクタ:.pdfButtons
 * 概要  :pdf出力ボタン領域
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.pdfButtons {
	float: right;					/* 右側に回り込みする */
}

/*
 * セレクタ:.wrapList
 * 概要  :jqGridの外枠領域
 * 作成日:2015.05.07
 * 作成者:T.Yamamoto
 */
.wrapList {
	padding-top:10px;				/* 上から10px要素の幅を広げる */
	clear: both;					/* 回り込みをなくす */
}

/*
 * セレクタ:.dataIn
 * 概要  :新規。編集画面のデータを入力するラベルとテキストボックスを囲む領域
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.dataIn {
	display: inline-block;			/* 要素を横並びにするためにインラインブロック要素にする */
	width: 384px;					/* .mainの半分の幅にする */
}

/*
 * セレクタ:.dataLabel
 * 概要  :新規。編集画面のデータを入力するラベル領域
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.dataLabel {
	float: left;					/* 左に回り込みする */
	line-height: 32px;				/* テキストボックスと中央揃えにするため、高さを揃える */
}

/*
 * セレクタ:.left
 * 概要  :左に回り込みするためのクラス
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.left {
	float: left;					/* 左側に回り込みする */
}

/*
 * セレクタ:.right
 * 概要  :右側に回り込みするためのクラス
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.right {
	float: right;					/* 右側に回り込みする */
}

 /*
 * セレクタ:.list, .ui-jqgrid-labels
 * 概要  :jqGrid領域
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.list, .ui-jqgrid-labels {
	font-size:13px;					/* フォントサイズを13pxにする */
}

/*
 * セレクタ:.clear
 * 概要  :回り込みをなくすためのクラス
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.clear {
	padding-top:10px;				/* 上から10px要素の幅を広げる */
	clear: both;					/* 回り込みをなくす */
}


/*
 * セレクタ:.clear
 * 概要  :ダイアログのヘッダー領域
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.dialogHeader {
	text-align: right;				/* 右側に回り込みする */
	margin-bottom:10px;				/* 下向きに10px余白をとる */
}

/*
 * セレクタ:.clear
 * 概要  :ダイアログのヘッダー領域
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.dialogLabel {
	display: inline-block;			/* インラインブロック要素にして横並びにする */
	width:96px;						/* 幅を3グリッド分 */
	height: 31px;					/* コンテンツの基本の高さ */
}

/*
 * セレクタ:.fig5
 * 概要  :グリッド5個分の幅
 * 作成日:2015.05.12
 * 作成者:T.Yamamoto
 */
.fig5 {
	width:160px;					/* 幅をグリッド5個分にする */
	height: 31px;
}

.dialogboxLabel {
	display: inline-block;			/* インラインブロック要素にして横並びにする */
	width:96px;						/* 幅を3グリッド分 */
	height: 31px;					/* コンテンツの基本の高さ */
	vertical-align: top;
}

.dialogTextarea {
	height: 70px;
}


.tablist a{
	padding: 10px;
	display: block;
	cursor:pointer;
	position: relative;
	top: 1px;
	border-top-left-radius: 5px;	/* 左上を角丸にする */
	border-top-right-radius: 5px;	/* 右上を角丸にする */
	border: 1px solid #999;
	border-bottom:none;
}

.tablist {
	display: inline-block;
	background: #dfdfdf;
}
.tabContent {
	display: none;
}
.selected {
	background: #fff;

}
